#announcement {
  font-size: medium;
  background: rgba(#19196b, 0.15);
  border-radius: $border-radius;
  padding: 15px;

  .csail-url & { background: rgba(#19196b, 0.15); }
  a, strong { font-weight: bold; }
}

#news-header  {
  color: #19196b;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.25em;
}

#pinned {
  background: rgba(#19196b, 0.1);
  border-radius: $border-radius;
  margin-bottom: 1em;

  a, strong { font-weight: 500; }

  p {
    padding: 0.5em;
    margin: 0;
  }
}

#news {
  position: relative;
  height: 14rem;
  overflow-y: scroll;

  #news-items {
    height: 100%;
  }

  .item {
    max-height: 10rem;
    overflow: hidden;
    margin-bottom: 0.85em;
    border: 1px solid rgba(#2A7F8F, 0.20);
    border-radius: $border-radius;
    background: rgba(#2A7F8F, 0.06);
    padding: 0.6em;
  }


  p {
    font-size: 0.9rem;
    line-height: 1.25;
    margin: 0;

    &.date {
      font-style: italic;
      font-size: 0.75rem;
      line-height: 1.25;
      color: $csail-dgrey;
      margin-bottom: 0.25em;
    }
  }

  a {
    color: #19196b;
    font-weight: 600;
  }
}
